<h1> Dice </h1>

<% rand1 = rand(1..6) %>

<% rand2 = rand(1..6) %>

<% total = rand1 + rand2 %>


<ul>
  <img src="/images/drice/<%=rand1%>.svg">
  <img src="/images/drice/<%=rand2%>.svg">
  <li><%=rand1 %> </li>
  <li><%=rand2 %> </li>
  
 
</ul>

<p> The total is <%=total %> </p>

<p> 

  <a href="https://3000-nglmtyln-webapps-fxgrg4eg2u5.ws-us108.gitpod.io/dice">Roll Again</a> 

</p>